

<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">

                    <% if (courses && courses.length > 0) { %>
                        <% courses.forEach(course => { %>
                            <tr>
                                <td><%= course.courseId %>: </td>
                                <td><a href="/course/<%= course.courseId %>"><%= course.courseCode %></a></td>
                                <td><a href="/students?course=<%= course.courseId %>"><%= course.courseDescription %></a></td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="2" class="text-center"><strong><%= message %></strong></td>
                        </tr>
                    <% } %>

            </table>
        </div>
    </div>
</div>
